
<div class="div_login">   
    <h4>iniciar sesión</h4>
    <form [formGroup]="formLogin" class="form_login" >
        <input class="input_login" type="text" formControlName="user" placeholder="Usuario" 
        [ngClass]="{'is-invalid': User?.errors && User?.touched, 'is-valid':!User?.errors && User?.touched}">
        <div *ngIf="User?.errors && User?.touched">
            <p *ngIf="User?.hasError('required')" class="text-danger">
                El usuario es requerido.
            </p>
            <p *ngIf="User?.errors?.['minlength']" class="text-danger">
                El usuario debe tener al menos 3 caracteres.
            </p>

        </div>
        <input class="input_login" type="password" formControlName="password" placeholder="Contraseña"
        [ngClass]="{'is-invalid': Password?.errors && User?.touched, 'is-valid':!Password?.errors && User?.touched}">
        <div *ngIf="Password?.errors && Password?.touched">
            <p *ngIf="Password?.hasError('required')" class="text-danger">
                La contraseña es requerida.
            </p>
            <p *ngIf="Password?.errors?.['minlength']" class="text-danger">
              La contraseña debe tener al menos 6 caracteres.
            </p>
        </div>
        <button class="btns login-submit" type="submit">Login</button>
    </form>
    <p id="register">no tienes una cuenta? Regístrate <a routerLink="/register"><span>aquí</span></a></p> 
</div>

       

