header {
    background: linear-gradient(90deg, rgb(26, 131, 131), rgb(20, 100, 100), rgb(10, 70, 70));
    padding: 10px;
    height: 15rem;
}


header section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
}


.logo_ap{
    height: 4rem;
    width: 4rem;
    display: block;
    background-size: cover;
    background-position: center;
   
}

   
.titulo {
    padding: 5rem;
    font-size: 2rem;
}







 
 
  


 
 
 
  
 



