<header>
    <div class="logo_ap" >
        <img src="assets/img/ap-dark.png" class="logo_ap" alt="wqdqw">

    </div>
    <section>
        <div>
            <a href="home"><h1 class="titulo">Porfolio de Alex</h1></a>
        </div>
              
           
            <div class="div_login">   
                <h4>iniciar sesión</h4>
                <form class="form_login" action="login" method="POST">
                    <input class="input_login"type="text" name="username" placeholder="Usuario" >
                    <input class="input_login" type="password" name="password" placeholder="Contraseña">
                    <button class="btns login-submit" type="submit">Login</button>
               </form>
                <p id="register"><span id="loginError"> </span>no tienes una cuenta? Regístrate <a href="register">aquí</a></p> 
            </div>

           
    </section>
   
  
    
    <div class="baner">
        <img src="assets/img/chimu2.jpeg" alt="">
    </div>
</header>




<!--
<ul *ngFor="let item of cliente">
    <li>{{item.id}}</li>
    <li>{{item.nombre}}</li>
    <li>{{item.apellido}}</li>
    <li>{{item.direccion}}</li>

</ul>  -->


